/* Fondo general */
.root {
    -fx-background-color: #FFFFFF;
}
.background {
    -fx-background-color: #f4f4f9;
    -fx-padding: 20.0px;
}

/* Título principal */
.form-title {
    -fx-font-size: 22.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}


/* Campos de texto y ComboBox */
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5.0px;
    -fx-background-radius: 5.0px;
    -fx-padding: 8.0px;
    -fx-pref-width: 300.0px;
    -fx-pref-height: 25.0px; 
}

/* Nombre del usuario */
.user-name {
    -fx-font-size: 18.0px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
}

/* Rol del usuario */
.user-role {
    -fx-font-size: 14.0px;
    -fx-fill: #4682B4; /* Steel Blue */
}

/* Descripción del usuario */
.user-description {
    -fx-font-size: 12.0px;
    -fx-fill: #555555;
    -fx-text-alignment: center;
}

/* Botones */
/* Botones */



.button:hover {
	-fx-cursor: hand;
}
.white-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1965d0;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5.0px;
    -fx-padding: 5.0px;
    -fx-font-size: 14.0px;
    -fx-pref-width: 150.0px;
}

.white-button:hover {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #154ea0;
}

.primary-button {
    -fx-background-color: #708090 ; /* Slate gray */
    -fx-text-fill: #FFFFFF; 
    -fx-font-size: 14.0px;
    -fx-border-radius: 5.0px;
    -fx-padding: 5.0px;
    -fx-pref-width: 150.0px;
}

.primary-button:hover {
    -fx-background-color: #5f6e7a;
}

.btnLogout {
    -fx-background-color: #4682B4;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14.0px;
    -fx-border-radius: 5.0px;
    -fx-padding: 5.0px;
    -fx-pref-width: 150.0px;
}

.btnLogout:hover {
    -fx-background-color: #376996;
}

.secondary-button {
    -fx-background-color: #4682B4; /* Steel Blue */
    -fx-text-fill: #FFFFFF; 
}

.secondary-button:hover {
    -fx-background-color: #3B6A93;
}















